#container{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 32px;
    background-color: gray;
}
button{
    font-size: 1.5rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: rgb(85, 85, 245);
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: blue;
    color: white;
}
input{
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 5px 5px;
}
label{
    font-weight: bold;
}
#DiceImages img{
    margin-right: 30px;
}